.sectionTxtImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionTxtImg article {
    width: 35%;
}

.sectionTxtImg .visuelProjet {
    width: 60%;
}


.sectionTxtImg div img {
    max-width: 100%;
}

.visuelProjet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visuelProjet p {
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    margin: 15px 0;
}

#etiquetteProjet {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 50px 0;
}

#presentationProjetSecond h2 {
    font-size: 25px;
}

#etiquetteProjet p {
    background-color: #FF4522;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 5px;
    font-size: 1em;
    color: white;
}

#galerieImage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 5em;
    justify-content: space-between;
}

#galerieImage div {
    max-width: 48%;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#galerieImage img {
    max-width: 100%;
}

.lightModeImg img {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.darkModeImg img {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

footer p {
    font-size: 0.9em;
}

.elargir {
    height: 30em;
}



.linkProject a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

}

.linkProject a i {
    margin: 0 20px 0 0;
}

main section {
    padding: 9vh 8%;
}



/**RESPONSIVE*/
@media screen and (max-width: 1700px) {
    main section {
        padding: 9vh 13vw;
    }
}

@media screen and (max-width: 1600px) {
    main section {
        padding: 9vh 11vw;
    }
}

@media screen and (max-width: 1500px) {
    main section {
        padding: 9vh 9vw;
    }
}

@media screen and (max-width: 1400px) {
    main section {
        padding: 9vh 7vw;
    }
}

@media screen and (max-width: 1300px) {

    main section,
    #galerieImage {
        padding: 9vh 2vw;
    }

    .sectionTxtImg {
        flex-direction: column;
    }

    .sectionTxtImg article,
    .sectionTxtImg .visuelProjet {
        width: 80%;
    }

    .visuelProjet {
        margin-top: 45px;
    }

    .etiquettePrecisionTechno {
        display: flex;
        justify-content: space-around;
    }

    .linkProjectDiv,
    .technoProject {
        width: 40%;
    }

    #galerieImage div {
        max-width: 80%;
    }

    #galerieImage {
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {

    .sectionTxtImg article,
    .sectionTxtImg .visuelProjet {
        width: 82%;
    }

    #galerieImage div {
        max-width: 82%;
    }
}

@media screen and (max-width: 1100px) {

    .sectionTxtImg article,
    .sectionTxtImg .visuelProjet {
        width: 86%;
    }

    #galerieImage div {
        max-width: 86%;
    }
}

@media screen and (max-width: 1000px) {

    .sectionTxtImg article,
    .sectionTxtImg .visuelProjet {
        width: 90%;
    }

    #galerieImage div {
        max-width: 90%;
    }
}

@media screen and (max-width: 630px) {

    .etiquettePrecisionTechno {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .sectionTxtImg article {
        width: 85%;
    }

    .technoProject,
    .linkProjectDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titre {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .ligneTitre{
        margin: 0 auto;
    }

    #etiquetteProjet {
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {

    .etiquettePrecisionTechno {
        flex-direction: column;
        align-items: center;
    }

    .sectionTxtImg article,
    .sectionTxtImg .visuelProjet {
        width: 95%;
    }

    .technoProject,
    .linkProjectDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titre {
        margin-bottom: 30px;
    }

    #etiquetteProjet {
        justify-content: center;
    }

    #galerieImage div {
        margin: 20px 0;
        max-width: 95%;
    }
}